@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --width: 0;
}


body {
    background: linear-gradient(179.4deg, rgb(12, 20, 69) -16.9%, rgb(71, 30, 84) 119.9%);

}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#speeds {
    direction: rtl;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    /* -o-transform: rotateY(180deg); */
    transform: rotateY(180deg);
}

.btnn {
    transition: .3s;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.btnn:hover {
    box-shadow: 0 0 15px rgb(0, 189, 252);
}

.arrbar {
    display: inline-block;
    word-wrap: break-word;
    color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 500px;
    margin: 2px;
    width: var(--width);
    /* transition: all .1s; */
}

.btncontainer {
    margin: 10px;
    display: flex;
    gap: 15px;
}


@layer components {
    .algorithm {
        @apply w-48 my-4 rounded-lg p-2 px-10 focus:ring-1 focus:ring-slate-300
    }

    .bars {
        @apply xl:overflow-hidden overflow-x-scroll rounded-lg p-1 xl:w-[63vw] xl:h-[32vw] h-[50vh] text-center mx-3 my-4
    }
}


@media (max-width: 1200px) {
    .arrbar {
        width: 5px;
    }
}